html {
	font-size: 1px;
}

html,body {
	height: 100%;
}
body {
	font-size: 16rem;
	font-family: "Poppins", sans-serif;
	background: var(--dark);
	color: var(--white);
}

.container {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100%;
}
#root {
	height: 100%;
}

